In [2]:
import numpy as np

# DataTypes and Attribute

In [3]:
#numpy default attribute is ndarray
a1 = np.array([1,2,3])
type(a1)

numpy.ndarray

In [4]:
a2 = np.array([[1,2,3.3],
              [4,5,6.6]])
a3= np.array([[[1,2,3],
              [4,5,6],
              [7,8,9]],
              [[10,11,12],
              [13,14,15],
              [16,17,18]]])

In [5]:
a2

array([[1. , 2. , 3.3],
       [4. , 5. , 6.6]])

In [6]:
a3

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]]])

In [7]:
a2.shape

(2, 3)

In [8]:
a3.shape

(2, 3, 3)

In [9]:
a1.shape

(3,)

In [10]:
# shape will tell us the dimension of the arrays 
# and .size will tell us the size how many elements are there in an array

In [11]:
type(a1),type(a2),type(a2)

(numpy.ndarray, numpy.ndarray, numpy.ndarray)

In [12]:
# Creating dataframe from numpy array
import pandas as pd
df = pd.DataFrame(a2)
df

     0    1    2
0  1.0  2.0  3.3
1  4.0  5.0  6.6

In [13]:
ones = np.ones((2,3))
ones

array([[1., 1., 1.],
       [1., 1., 1.]])

In [14]:
zeros = np.zeros((3,3,3))
zeros

array([[[0., 0., 0.],
        [0., 0., 0.],
        [0., 0., 0.]],

       [[0., 0., 0.],
        [0., 0., 0.],
        [0., 0., 0.]],

       [[0., 0., 0.],
        [0., 0., 0.],
        [0., 0., 0.]]])

In [15]:
range_array= np.arange(0,10,1)
range_array

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [16]:
# 0 indicates that it will start from 0 and end at 10 with interval of 1

In [17]:
# if we want a random array between 2 number or given size then
random_array=np.random.randint(0,10,size=(3,3,3))
random_array

array([[[8, 0, 6],
        [3, 3, 9],
        [6, 1, 5]],

       [[8, 5, 3],
        [2, 6, 4],
        [0, 3, 6]],

       [[4, 5, 0],
        [1, 6, 5],
        [9, 8, 7]]])

In [18]:
np.random.random((2,3))
# it gives random elements between 0.0-10.

array([[0.56405968, 0.74353148, 0.29079678],
       [0.72248633, 0.19988515, 0.93741032]])

In [19]:
#Pseudo Random NUmbers
#in the above random araay every time we run the code
#a new random array is generated and to stop this
np.random.seed(seed=0)
random_array1 = np.random.randint(10,size=(2,3))

In [20]:
random_array1
# no matter how many times we run the code this random array is 
#fixed to seed 0

array([[5, 0, 3],
       [3, 7, 9]])

# Viewing Arrays and Matrices

In [21]:
# finding the unique elements in the array
np.unique(random_array1)

array([0, 3, 5, 7, 9])

In [22]:
a1,a2,a3

(array([1, 2, 3]),
 array([[1. , 2. , 3.3],
        [4. , 5. , 6.6]]),
 array([[[ 1,  2,  3],
         [ 4,  5,  6],
         [ 7,  8,  9]],

        [[10, 11, 12],
         [13, 14, 15],
         [16, 17, 18]]]))

In [23]:
a3[0][1]

array([4, 5, 6])

In [24]:
a3

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]]])

In [25]:
a3[:2,:3,:2]

array([[[ 1,  2],
        [ 4,  5],
        [ 7,  8]],

       [[10, 11],
        [13, 14],
        [16, 17]]])

In [26]:
a4 = np.random.randint(10,size =(2,3,4,5,))

In [27]:
a4

array([[[[3, 5, 2, 4, 7],
         [6, 8, 8, 1, 6],
         [7, 7, 8, 1, 5],
         [9, 8, 9, 4, 3]],

        [[0, 3, 5, 0, 2],
         [3, 8, 1, 3, 3],
         [3, 7, 0, 1, 9],
         [9, 0, 4, 7, 3]],

        [[2, 7, 2, 0, 0],
         [4, 5, 5, 6, 8],
         [4, 1, 4, 9, 8],
         [1, 1, 7, 9, 9]]],


       [[[3, 6, 7, 2, 0],
         [3, 5, 9, 4, 4],
         [6, 4, 4, 3, 4],
         [4, 8, 4, 3, 7]],

        [[5, 5, 0, 1, 5],
         [9, 3, 0, 5, 0],
         [1, 2, 4, 2, 0],
         [3, 2, 0, 7, 5]],

        [[9, 0, 2, 7, 2],
         [9, 2, 3, 3, 2],
         [3, 4, 1, 2, 9],
         [1, 4, 6, 8, 2]]]])

In [28]:
a4.ndim

4

In [29]:
#Slicing the matrix
# the most right number in shape represent the inner most i.e here 5 is the
# right most element and we can see this it contain 5 elements internallu 
a4[:,:,:,:5]

array([[[[3, 5, 2, 4, 7],
         [6, 8, 8, 1, 6],
         [7, 7, 8, 1, 5],
         [9, 8, 9, 4, 3]],

        [[0, 3, 5, 0, 2],
         [3, 8, 1, 3, 3],
         [3, 7, 0, 1, 9],
         [9, 0, 4, 7, 3]],

        [[2, 7, 2, 0, 0],
         [4, 5, 5, 6, 8],
         [4, 1, 4, 9, 8],
         [1, 1, 7, 9, 9]]],


       [[[3, 6, 7, 2, 0],
         [3, 5, 9, 4, 4],
         [6, 4, 4, 3, 4],
         [4, 8, 4, 3, 7]],

        [[5, 5, 0, 1, 5],
         [9, 3, 0, 5, 0],
         [1, 2, 4, 2, 0],
         [3, 2, 0, 7, 5]],

        [[9, 0, 2, 7, 2],
         [9, 2, 3, 3, 2],
         [3, 4, 1, 2, 9],
         [1, 4, 6, 8, 2]]]])

## Manipulating and comparing arrays

# Arithmetic

In [30]:
a1

array([1, 2, 3])

In [31]:
ones = np.ones(3)
ones

array([1., 1., 1.])

In [32]:
a1+ones

array([2., 3., 4.])

In [33]:
a1-ones

array([0., 1., 2.])

In [34]:
a1* ones

array([1., 2., 3.])

In [35]:
a2

array([[1. , 2. , 3.3],
       [4. , 5. , 6.6]])

In [36]:
a1*a2

array([[ 1. ,  4. ,  9.9],
       [ 4. , 10. , 19.8]])

In [37]:
a2*a1

array([[ 1. ,  4. ,  9.9],
       [ 4. , 10. , 19.8]])

In [38]:
a3

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]]])

In [39]:
a2*a3

ValueError: operands could not be broadcast together with shapes (2,3) (2,3,3)

In [40]:
a1 /a2

array([[1.        , 1.        , 0.90909091],
       [0.25      , 0.4       , 0.45454545]])

In [41]:
a1//a2 #FLOOR DIVISION

array([[1., 1., 0.],
       [0., 0., 0.]])

In [42]:
# AND ALL OPERATION INCLUDING PUTTING THEM IN LOG

# AGGREGATION

In [43]:
a1

array([1, 2, 3])

In [44]:
sum(a1)

6

In [45]:
np.sum(a1)

6

Use python sum on python data types and 
use Numpy's method on Numpy array i.e ndarray

In [46]:
massive_array = np.random.random(100000)

In [47]:
%timeit sum(massive_array) # pythons method
%timeit np.sum(massive_array) # np method

4.63 ms ± 70.9 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)
25.8 µs ± 289 ns per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [48]:
# cleary we can see np is about 500 times faster

In [49]:
# we can also use min max in numpy and also std i.e standard deviation

In [50]:
np.std(a2)# MEASURE OF HOW SPREAD OUT A GROUP OF NUMBER IS

1.8490988796347985

In [51]:
#we can also check varianceT
#VARIANCE IS THE MEASURE OF THE AVERAGE DEGREE 
#TO WHICH EACH NUMBER IS DIFFERENT
# HIGHER VAR = WIDER RANGE OF NUMBERS
# LOWER VAR = LOWER RANGE OF NUMBER

In [52]:
np.var(a2)

3.419166666666667

In [53]:
high_var_array = np.array([1,100,200,300,4000,500])
low_var_Array=np.array([2,4,6,8,10])

In [54]:
np.var(high_var_array),np.var(low_var_Array)

(2008883.472222222, 8.0)

In [55]:
np.std(high_var_array),np.std(low_var_Array)

(1417.3508641907345, 2.8284271247461903)

# Reshaping and Transposing

In [56]:
a2

array([[1. , 2. , 3.3],
       [4. , 5. , 6.6]])

In [57]:
a2.shape

(2, 3)

In [58]:
a3

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]]])

In [59]:
a3.shape

(2, 3, 3)

In [60]:
a2*a3

ValueError: operands could not be broadcast together with shapes (2,3) (2,3,3)

In [64]:
a2_reshaped=a2.reshape(2,3,1)

In [63]:
a2

array([[1. , 2. , 3.3],
       [4. , 5. , 6.6]])

In [65]:
a2_reshaped

array([[[1. ],
        [2. ],
        [3.3]],

       [[4. ],
        [5. ],
        [6.6]]])

In [66]:
a2_reshaped*a3

array([[[  1. ,   2. ,   3. ],
        [  8. ,  10. ,  12. ],
        [ 23.1,  26.4,  29.7]],

       [[ 40. ,  44. ,  48. ],
        [ 65. ,  70. ,  75. ],
        [105.6, 112.2, 118.8]]])

#### Transpose

In [79]:
#it swap the axis and same in mathematics :|

In [84]:
a3,a3.shape

(array([[[ 1,  2,  3],
         [ 4,  5,  6],
         [ 7,  8,  9]],

        [[10, 11, 12],
         [13, 14, 15],
         [16, 17, 18]]]),
 (2, 3, 3))

In [67]:
a3.T, a3.T.shape

(array([[[ 1, 10],
         [ 4, 13],
         [ 7, 16]],

        [[ 2, 11],
         [ 5, 14],
         [ 8, 17]],

        [[ 3, 12],
         [ 6, 15],
         [ 9, 18]]]),
 (3, 3, 2))

# Dot Product

In [69]:
np.random.seed(0)
mat1 = np.random.randint(10,size=(5,3))
mat2 = np.random.randint(10,size=(5,3))

In [70]:
mat1

array([[5, 0, 3],
       [3, 7, 9],
       [3, 5, 2],
       [4, 7, 6],
       [8, 8, 1]])

In [71]:
mat2

array([[6, 7, 7],
       [8, 1, 5],
       [9, 8, 9],
       [4, 3, 0],
       [3, 5, 0]])

In [72]:
mat1*mat2 #element wise hadamard product

array([[30,  0, 21],
       [24,  7, 45],
       [27, 40, 18],
       [16, 21,  0],
       [24, 40,  0]])

In [73]:
# Dot product

In [74]:
np.dot(mat1,mat2)

ValueError: shapes (5,3) and (5,3) not aligned: 3 (dim 1) != 5 (dim 0)

In [78]:
# Transposing the matrix
mat1 = mat1.T

In [83]:
mat1.shape,mat1,mat2

((3, 5),
 array([[5, 3, 3, 4, 8],
        [0, 7, 5, 7, 8],
        [3, 9, 2, 6, 1]]),
 array([[6, 7, 7],
        [8, 1, 5],
        [9, 8, 9],
        [4, 3, 0],
        [3, 5, 0]]))

In [80]:
mat3 = np.dot(mat1,mat2)

In [81]:
mat3

array([[121, 114,  77],
       [153, 108,  80],
       [135,  69,  84]])

## Exersice of numpy (sales example)

In [86]:
np.random.seed(0)
sales_amount= np.random.randint(10,size=(5,3))
weekly_sales = pd.DataFrame(sales_amount,index=['Mon','Tue','Wed','Thur'
                                               ,'Fri'],
                columns=['Penut Butter','Almond Butter','Cashew Butter'])

In [87]:
weekly_sales

      Penut Butter  Almond Butter  Cashew Butter
Mon              5              0              3
Tue              3              7              9
Wed              3              5              2
Thur             4              7              6
Fri              8              8              1

In [91]:
# prices array
prices = np.array([0,8,12])
butter_prices = pd.DataFrame(prices.reshape(1,3),
                            index=['Price'],
                            columns=['Penut Butter','Almond Butter','Cashew Butter'])

In [92]:
#we use reshape as the pandas is expecting the array of (1,3) and 
# the price array is of (3,)

In [108]:
sales_amount

array([[5, 0, 3],
       [3, 7, 9],
       [3, 5, 2],
       [4, 7, 6],
       [8, 8, 1]])

In [109]:
prices

array([ 0,  8, 12])

In [99]:
butter_prices

       Penut Butter  Almond Butter  Cashew Butter
Price             0              8             12

In [100]:
total_sales =np.dot(weekly_sales,butter_prices)

ValueError: shapes (5,3) and (1,3) not aligned: 3 (dim 1) != 1 (dim 0)

In [101]:
#as you can see arrays are not alligned them

In [107]:
total_sales =np.dot(sales_amount,prices)
total_sales

array([ 36, 164,  64, 128,  76])

In [110]:
weekly_sales

      Penut Butter  Almond Butter  Cashew Butter
Mon              5              0              3
Tue              3              7              9
Wed              3              5              2
Thur             4              7              6
Fri              8              8              1

In [112]:
daily_sales = butter_prices.dot(weekly_sales.T)

In [113]:
daily_sales

       Mon  Tue  Wed  Thur  Fri
Price   36  164   64   128   76

In [115]:
weekly_sales['Total ($)']=daily_sales.T

In [116]:
weekly_sales

      Penut Butter  Almond Butter  Cashew Butter  Total ($)
Mon              5              0              3         36
Tue              3              7              9        164
Wed              3              5              2         64
Thur             4              7              6        128
Fri              8              8              1         76

### Comparison Operator

In [117]:
a1

array([1, 2, 3])

In [118]:
a1>a2

array([[False, False, False],
       [False, False, False]])

In [119]:
 a2>a1

array([[False, False,  True],
       [ True,  True,  True]])

In [120]:
a1>=a2

array([[ True,  True, False],
       [False, False, False]])

In [121]:
a1>2

array([False, False,  True])

In [122]:
#exact symbols as in normal python

### Sorting

In [123]:
random_array

array([[[8, 0, 6],
        [3, 3, 9],
        [6, 1, 5]],

       [[8, 5, 3],
        [2, 6, 4],
        [0, 3, 6]],

       [[4, 5, 0],
        [1, 6, 5],
        [9, 8, 7]]])

In [124]:
np.sort(random_array)

array([[[0, 6, 8],
        [3, 3, 9],
        [1, 5, 6]],

       [[3, 5, 8],
        [2, 4, 6],
        [0, 3, 6]],

       [[0, 4, 5],
        [1, 5, 6],
        [7, 8, 9]]])

In [127]:
mat1

array([[5, 3, 3, 4, 8],
       [0, 7, 5, 7, 8],
       [3, 9, 2, 6, 1]])

In [128]:
np.sort(mat1)

array([[3, 3, 4, 5, 8],
       [0, 5, 7, 7, 8],
       [1, 2, 3, 6, 9]])

In [130]:
mat2

array([[6, 7, 7],
       [8, 1, 5],
       [9, 8, 9],
       [4, 3, 0],
       [3, 5, 0]])

In [131]:
 np.argsort(mat2)

array([[0, 1, 2],
       [1, 2, 0],
       [1, 0, 2],
       [2, 1, 0],
       [2, 0, 1]], dtype=int64)

In [136]:
np.argmin(mat2,axis=0)

array([4, 1, 3], dtype=int64)

In [137]:
# arg means argument simply index of that element

In [138]:
np.argmin(mat2,axis=1)

array([0, 1, 1, 2, 2], dtype=int64)

### Practical Example -Numpy in Action

turning img to array

<img src="images/numpy-panda.png"/>

In [1]:
from matplotlib.image import imread

In [3]:
panda = imread("images/numpy-panda.png")
print(type(panda))

<class 'numpy.ndarray'>

In [4]:
panda

array([[[0.05490196, 0.10588235, 0.06666667],
        [0.05490196, 0.10588235, 0.06666667],
        [0.05490196, 0.10588235, 0.06666667],
        ...,
        [0.16470589, 0.12941177, 0.09411765],
        [0.16470589, 0.12941177, 0.09411765],
        [0.16470589, 0.12941177, 0.09411765]],

       [[0.05490196, 0.10588235, 0.06666667],
        [0.05490196, 0.10588235, 0.06666667],
        [0.05490196, 0.10588235, 0.06666667],
        ...,
        [0.16470589, 0.12941177, 0.09411765],
        [0.16470589, 0.12941177, 0.09411765],
        [0.16470589, 0.12941177, 0.09411765]],

       [[0.05490196, 0.10588235, 0.06666667],
        [0.05490196, 0.10588235, 0.06666667],
        [0.05490196, 0.10588235, 0.06666667],
        ...,
        [0.16470589, 0.12941177, 0.09411765],
        [0.16470589, 0.12941177, 0.09411765],
        [0.16470589, 0.12941177, 0.09411765]],

       ...,

       [[0.13333334, 0.07450981, 0.05490196],
        [0.12156863, 0.0627451 , 0.04313726],
        [0.10980392, 0.05098039, 0.03137255],
        ...,
        [0.02745098, 0.02745098, 0.03529412],
        [0.02745098, 0.02745098, 0.03529412],
        [0.02745098, 0.02745098, 0.03529412]],

       [[0.13333334, 0.07450981, 0.05490196],
        [0.12156863, 0.0627451 , 0.04313726],
        [0.12156863, 0.0627451 , 0.04313726],
        ...,
        [0.02352941, 0.02352941, 0.03137255],
        [0.02352941, 0.02352941, 0.03137255],
        [0.02352941, 0.02352941, 0.03137255]],

       [[0.13333334, 0.07450981, 0.05490196],
        [0.12156863, 0.0627451 , 0.04313726],
        [0.12156863, 0.0627451 , 0.04313726],
        ...,
        [0.02352941, 0.02352941, 0.03137255],
        [0.02352941, 0.02352941, 0.03137255],
        [0.02352941, 0.02352941, 0.03137255]]], dtype=float32)

In [5]:
panda.size, panda.shape,panda.ndim

(24465000, (2330, 3500, 3), 3)

 <img src ='images/numpy-car-photo.png'/>

In [6]:
car = imread("images/numpy-car-photo.png")

In [8]:
type(car)

numpy.ndarray